<%= provide(:title, "Cubemunity | Timer") %>

<%= stylesheet_link_tag "timer.css" %>
<%= javascript_include_tag "home.js" %>

<% @puzzles = {
  "2x2" => "two_by_two",
  "3x3" => "three_by_three",
  "4x4" => "five_by_five",
  "5x5" => "five_by_five",
  "6x6" => "six_by_six",
  "7x7" => "seven_by_seven",
  "Megaminx" => "megaminx",
  "Pyranminx" => "pyraminx",
  "Skewb" => "skewb",
  "Clock" => "clock"
} %>

<h1>Scramble:</h1><h1 id="scramble"></h1>
<%= select_tag "puzzle_name", options_for_select(@puzzles, "three_by_three") %>
<div class="main">
  <h1 id="timer" class="time">0:0:0.00</h1>
</div>
<% if @signed_in_user %>
  <%= button_tag "Manual Personal Best", type: "button", id: "manual_personal_best" %>
<% end %>

<h1>Times:</h1>
<div id="timeData" class="time">
</div>

<h1>Average of times</h1>

<h1 id="averageOfTimes" class="time"></h1>
<br>
<h1>Current Average of 5</h1>

<h1 id="averageOfFive" class="time"></h1>

<% if @signed_in_user %>
  <%= content_tag :div, class: "personal_bests", data: { personal_bests: @signed_in_user.personal_bests } do %>
<% end %>

<% end %>