<%= stylesheet_link_tag 'user' %>
<% provide(:title, @user.username) %>
<h1>
  <%= user_gravatar(@user) %>
  <br>
  <% if !(@signed_in_user.already_following? @user) %>
    <%= @user.username %><%= button_to "Follow", {controller: "user", action: "follow"}, params: { following_id: @user.id, follower_id: @signed_in_user.id } if @signed_in_user && @signed_in_user.id != @user.id %>
  <% else %>
    <%= @user.username %><%= button_to "Unfollow", {controller: "user", action: "unfollow"}, params: { following_id: @user.id, follower_id: @signed_in_user.id } if @signed_in_user && @signed_in_user.id != @user.id %>
  <% end %>
  <br>
</h1>
<% if @user.personal_bests %>
  <h2>
    Personal Bests:
  </h2>
  <% @user.personal_bests.attributes.each do |puzzle_name, time| %>
    <% if time && !("iduser_idupdated_atcreated_at".include?(puzzle_name)) %>
      <ul><%= puzzle_name.split('_').map(&:capitalize).join(' ') %>: <%= time %></ul>
    <% end %>
  <% end %>
<% end %>

<% if @signed_in_user == @user%>
  <h2>Following:</h2>
  <p>
    <% @signed_in_user.following.each do |f| %>
      <%= link_to user_gravatar(f), f %>
    <% end %>
  </p>
<% end %>

<h2>Posts</h2>
<%= render "posts/show" %>