<%= stylesheet_link_tag 'user' %>
<% provide(:title, @user.username) %>
<h1>
  <%= user_gravatar(@user) %>
  <br>
  <%= @user.username %>
</h1>
<% if @user.personal_bests %>
  <h2>
    Personal Bests:
  </h2>
  <% @user.personal_bests.attributes.each do |puzzle_name, time| %>
    <% if time && !("iduser_idupdated_atcreated_at".include?(puzzle_name)) %>
      <ul><%= puzzle_name.split('_').map(&:capitalize).join(' ') %>: <%= time %></ul>
    <% end %>
  <% end %>
<% end %>

<h2>Posts</h2>
<%= render "posts/show" %>