<% @posts.reverse.each do |post| %>
  <% @post = post %>
  <div class="post", id="<%= post.id %>">
    <%= hidden_field_tag :like_count, post.likes.count %>
    <h2 class="title"><%= link_to "#{@post[:title]}", @post %>    <%= link_to user_gravatar(@post.user), @post.user %><%= link_to @post.user.username, @post.user %></h2>
    <p class="post-content"><%= @post[:content] %></p>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? "like" : "likes" %></p>
    <% if @signed_in_user %>
      <%= button_to "&#128077;".html_safe, { :controller => "likes", :action => "create", :post_id => @post.id }, :method => :post, :id => "like" %>
    <% end %>
    <br>
    <div class="comments">
      <h3>Comments:</h3>
      <%= render "comment/show" %>
      <% if @signed_in_user %>
        <%= render "comment/new", :params => { :post_id => @post.id } %>
      <% else %>
        <p>Sign in or Sign up to comment on this post</p>
      <% end %>
    </div>
  </div>
  <br>
<% end %>