<% provide(:title, @post.title) %>
<%= stylesheet_link_tag "posts.css" %>

<h1>
  <%= @post.title %> <%= link_to user_gravatar(@post.user), @post.user %><%= link_to @post.user.username, @post.user %>
</h1>
<p>
  <%= @post.likes.count %> <%= (@post.likes.count) == 1 ? "like" : "likes" %>
</p>
<% if @signed_in_user %>
  <%= button_to "Like", { :controller => "likes", :action => "create", :post_id => @post.id }, :method => :post %>
<% end %>
<p>
  <%= @post.content %>
</p>

<%= render "comment/show" %>

<% if @signed_in_user %>
  <%= render "comment/new" %>
<% else %>
  <h3>Sign in or sign up to comment</h3>
<% end %>